.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f4f4f9;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.formGroup input, textarea, select {
    padding: 1.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 0.6rem;
    background: #0056b3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b82f6;
}


.errorBorder {
    border: 1px solid red;
    margin-right: 10px;

}

.formGroup {
    margin-bottom: 1rem;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
