.servicesContainer {
    padding: 1rem;
}

.servicesGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.serviceCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background: #f9f9f9;
}

.serviceImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 150px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    object-fit: cover;
}

.bookButton {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.searchInput {
    padding: 0.5rem;
    flex: 1;
}
.pagination {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.bookingDetails {
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}